<a href="https://api.whatsapp.com/send?phone=528661123915">
    <div class="btn-contacto">
        <img class="logo-contacto" src="../../../assets/usos/wa_logo.ico" alt="">
    </div>
</a>
    <div class="titulo">
        <img width="1000" height="200" class="fondo" src="../../../assets/usos/fondo.webp" >
        <img class="logo" src="../../../assets/usos/logo_claro.webp">
    </div>
    <div style="height: 100px; border: solid black 0px;"></div>
    <div class="info"> <span> Productos disponibles </span> </div>
    
    <div class="muestreo">
        <div class="contenedor">

            
                    <a href="detalles.php?id=27">
                        <div class="caja shadow" style="text-decoration: none;" id="handle27">
                            <img class="crop" id="crop27" src="../../../assets/original_image/27/1.webp">
                            <div class="nombre" id="nombre27"> Juego de collar y aretes para dama </div>
                            <div class="precio" id="precio27"> $ 350 MXN </div>
                        </div>
                    </a>
                    
                
                    <a href="detalles.php?id=28">
                        <div class="caja shadow" style="text-decoration: none;" id="handle28">
                            <img class="crop" id="crop28" src="../../../assets/original_image/28/1.webp">
                            <div class="nombre" id="nombre28"> TENNIS  VANS </div>
                            <div class="precio" id="precio28"> $ 200 MXN </div>
                        </div>
                    </a>
                    
                        </div>
    </div>
<div class="m-5">
    <button class="btn btn-outline-danger" (click)="salir()">Salir</button>
  </div>